# Assignment

**Submitted By:** Sakalya Mitra <br>
**Email ID:** sakalyamitra@gmail.com <br>
[Assignment Link](https://drive.google.com/file/d/1eeRUJ1JzCWBWWPi9u3-q8ICJRSQwHUK8/view)

## Question 1

What are the two values of the Boolean data type? How do you write them?

The two values of the Boolean data type are **"True"** and **"False"**. They are written exactly as shown, with the first letter capitalized.

In [1]:
# Boolean Value Example
bool_1 = True
bool_2 = False

print(bool_1, bool_2)
print(type(bool_1))
print(type(bool_2))

True False
<class 'bool'>
<class 'bool'>

## Question 2

What are the three different types of Boolean operators?

The three different types of Boolean operators are:

- **`and` operator**: Returns True if both operands are True, otherwise returns False.
- **`or` operator**: Returns True if at least one of the operands is True, otherwise returns False.
- **`not` operator**: Returns the opposite Boolean value of the operand. If the operand is True, it returns False, and if the operand is False, it returns True.

In [2]:
# Example of and operator
if True and True:
  print("Both are True")
if True and False:
  print("One of them is False")

# Example of or operator
if True or True:
  print("Both are True")
if True and False:
  print("Either of them is True")
if False and False:
  print("Both are false")


#Example of not operator
if (not True):
  print("It is actually False")
if(not False):
  print("It is actually True")

Both are True
Both are True
It is actually True

## Question 3

Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

- ### TRUTH TABLE FOR `AND` OPERATOR
![and operator.png]()


- ### TRUTH TABLE FOR `OR` OPERATOR
![or operator.png]()


- ### TRUTH TABLE FOR `NOT` OPERATOR
![not operator.png]()

## Question 4
What are the values of the following expressions?

```
- (5 > 4) and (3 == 5) - False
- not (5 > 4) - False
- (5 > 4) or (3 == 5) - True
- not ((5 > 4) or (3 == 5)) - False
- (True and True) and (True == False) - False
- (not False) or (not True) - True
```

## Question 5

What are the six comparison operators?

The six comparison operators are:
1. Equal to (==)
2. Not equal to (!=)
3. Greater than (>)
4. Less than (<)
5. Greater than or equal to (>=)
6. Less than or equal to (<=)

## Question 6

How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

Answer:

The equal to operator `(==)` is used for comparison to check if two values are equal. It returns True if the values are equal and False otherwise.

The assignment operator `(=)` is used to assign a value to a variable. It does not compare values, but rather assigns a value to a variable.

For example:
- Condition using equal to operator: if x == 5:
- Assignment: x = 5

In [3]:
## USe of assignment operator
x = 5 # Assigning the value 5 to a variable x
print(x)

# Use of equal to operator
if(x==5): # Checking if the value stored in x is equal to some value or not
  print("x is 5")

5
x is 5

## Question 7

Identify the three blocks in this code:
```
spam = 0
if spam == 10:
print("eggs")
if spam > 5:
print("bacon")
else:
print("ham")
print("spam")
print("spam")
```

Answer:

- Block 1
```
spam = 0
```
- Block 2
```
if spam == 10:
    print("eggs")
```

- Block 3
```
if spam > 5:
    print("bacon")
else:
    print("ham")
    print("spam")
    print("spam")
```

## Question 8

Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [5]:
spam = int(input())

if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

4
Greetings!

## Question 9

If your programme is stuck in an endless loop, what keys youâ€™ll press?

Answer:

If our program is stuck in an endless loop, you can typically press the `Ctrl+C` keys (or `Command+C` on macOS) to interrupt the program and stop its execution. This combination sends an interrupt signal to the running program, forcing it to terminate.

## Question 10

How can you tell the difference between break and continue?

Answer:

The `break` statement is used to exit the current loop entirely. When encountered, it terminates the loop and transfers control to the next statement after the loop.

For example
```
i = 0
while(i<5):
  if(i==3):
    break
  i+=1
print(i)
```
Here when i becomes 3, the break statement terminates the loop and and moves control to the next statement that is `print(i)`.

The `continue` statement is used to skip the rest of the current iteration and move to the next iteration of the loop. When encountered, it immediately goes to the next iteration without executing any remaining statements within the loop for that particular iteration.

For example
```
i = 0
while(i<5):
  if(i==3):
    i+=1
    continue
  i+=1
  print(i)
print(i)
```
Here for i=3 the statement is just skipped but the loop is not broken and we get 4 as output.

In [7]:
i = 0
while(i<5):
  if(i==3):
    i+=1
    continue
  print(i)
  i+=1

0
1
2
4

## Question 11

In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Answer:

In a for loop:
- `range(10)`: It will iterate from 0 to 9 (10 is excluded). The starting point defaults to 0, and the step value defaults to 1.
- `range(0, 10)`: It is equivalent to range(10) and will also iterate from 0 to 9.
- `range(0, 10, 1)`: It is equivalent to range(10) and range(0, 10) and will iterate from 0 to 9, incrementing by 1 at each step. The start value is explicitly set to 0, and the step value is explicitly set to 1.

In [9]:
for i in range(10):
  print(i, end=" ")
print()

for i in range(0,10):
  print(i, end=" ")
print()

for i in range(0,10,1):
  print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

## Question 12

Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

Answer:

```
for i in range(1, 11):
    print(i)
```

Equivalent Program using While Loop
```
count = 1
while count <= 10:
    print(count)
    count += 1

```

In [11]:
# Using For Loop
print("Using For Loop")
for i in range(1, 11):
    print(i)

# Using While Loop
print("Using While Loop")
count = 1
while count <= 10:
    print(count)
    count += 1

Using For Loop
1
2
3
4
5
6
7
8
9
10
Using While Loop
1
2
3
4
5
6
7
8
9
10

## Question 13

If you had a function named `bacon()` inside a module named spam, how would you call it after importing spam?

Answer:

The syntax for calling a function in a module is
- First import the module
- then call the function, module_name.functio_name()

For our scenario, this will be the way to call `bacon()` function from `spam` module.
```
import spam

spam.bacon()
```